out
.classpath
.project
.settings
!vraptor-blank-project/.classpath
!vraptor-blank-project/.settings/
!vraptor-blank-project/.project
!vraptor-blank-project-gae/.classpath
!vraptor-blank-project-gae/.settings/
!vraptor-blank-project-gae/.project
!vraptor-site/.project
!vraptor-site/.settings
*.zip
*.ipr
*.iws
*.iml
*.class
target
classes
build
cobertura.ser
bin
.DS_Store
xsite-1.0
classes
vraptor-example-compatibility/src/main/webapp/WEB-INF/lib/*.jar
vraptor-blank-project/WebContent/WEB-INF/lib/*.jar
vraptor-blank-project-gae/war/WEB-INF/lib/*.jar
vraptor-mydvds/src/main/webapp/WEB-INF/lib/*.jar
vraptor-site/todo.log
vraptor-mydvds/mydvds.war
vraptor-mydvds/mydvdsDB.*
vraptor-mydvds/src/main/webapp/WEB-INF/lib/vraptor3-*.jar
*~

