out
.classpath
.project
*.ipr
*.iws
*.iml
target
classes
build
.settings
cobertura.ser
bin
.DS_Store
xsite-1.0
*.class
classes
vraptor-example/src/main/webapp/WEB-INF/classes/filecontroller_test/1-13_13_Ghosts_II.mp3
vraptor-blank-project/WebContent/WEB-INF/lib/vraptor3-*.jar
vraptor-site/todo.log
vraptor-mydvds/mydvds.war