out
.classpath
.project
.settings
.scala_dependencies
!vraptor-blank-project/.classpath
!vraptor-blank-project/.settings/
!vraptor-blank-project/.project
!vraptor-mydvds/.classpath
!vraptor-mydvds/.settings/
!vraptor-mydvds/.project
!vraptor-site/.project
!vraptor-site/.settings
*.zip
*.ipr
*.iws
*.iml
*.class
*.swp
target
classes
build
!vraptor-core/lib/build
cobertura.ser
bin
.DS_Store
xsite-1.0
classes
vraptor-example-compatibility/src/main/webapp/WEB-INF/lib/*.jar
vraptor-blank-project/WebContent/WEB-INF/lib/*.jar
vraptor-blank-project-gae/war/WEB-INF/lib/*.jar
vraptor-blank-project-scala/WebContent/WEB-INF/lib/
vraptor-plugin-flex/lib/*.jar
vraptor-mydvds/WebContent/WEB-INF/lib/*.jar
vraptor-site/todo.log
vraptor-mydvds/mydvds.war
vraptor-mydvds/mydvdsDB.*
*~

vraptor-plugin-gae/build.tmp/
vraptor-blank-project-scala/lib
vraptor-blank-project-scala/lib_managed
vraptor-blank-project-scala/project/boot/
vraptor-blank-project-scala/project/build/target/
.metadata
