.hll { background-color: #ffffcc }
.c { color: #3F7F5F } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #7F0055; font-weight: bold } /* Keyword */
.o { color: #000000 } /* Operator */
.cm { color: #3F5FBF } /* Comment.Multiline */
.cp { color: #606060; font-style: italic } /* Comment.Preproc */
.c1 { color: #3F7F5F } /* Comment.Single */
.cs { color: #3F7F5F } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { color: #7F0055; font-weight: bold } /* Keyword.Constant */
.kd { color: #7F0055; font-weight: bold } /* Keyword.Declaration */
.kn { color: #7F0055; font-weight: bold } /* Keyword.Namespace */
.kp { color: #f00000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #7F0055; font-weight: bold } /* Keyword.Reserved */
.kt { color: #7F0055; font-weight: bold } /* Keyword.Type */
.m { color: #000000 } /* Literal.Number */
.s { color: #2A00FF } /* Literal.String */
.na { color: #000000 } /* Name.Attribute */
.nc { color: #000000 } /* Name.Class */
.nd { color: #646464 } /* Name.Decorator */
.ni { color: #000000 } /* Name.Entity */
.ne { color: #000000 } /* Name.Exception */
.nf { color: #000000 } /* Name.Function */
.nn { color: #000000 } /* Name.Namespace */
.nt { color: #7F0055; font-weight: bold } /* Name.Tag */
.ow { color: #000000 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #000000 } /* Literal.Number.Float */
.mh { color: #000000 } /* Literal.Number.Hex */
.mi { color: #000000 } /* Literal.Number.Integer */
.mo { color: #000000 } /* Literal.Number.Oct */
.sb { color: #2A00FF } /* Literal.String.Backtick */
.sc { color: #2A00FF } /* Literal.String.Char */
.sd { color: #2A00FF } /* Literal.String.Doc */
.s2 { color: #2A00FF } /* Literal.String.Double */
.se { color: #2A00FF } /* Literal.String.Escape */
.sh { color: #2A00FF } /* Literal.String.Heredoc */
.si { color: #2A00FF } /* Literal.String.Interpol */
.sx { color: #2A00FF } /* Literal.String.Other */
.sr { color: #2A00FF } /* Literal.String.Regex */
.s1 { color: #2A00FF } /* Literal.String.Single */
.ss { color: #2A00FF } /* Literal.String.Symbol */
.il { color: #000000 } /* Literal.Number.Integer.Long */
