<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>XSite - ${title}</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        ${head}
    </head>
    <body>

        <div id="banner">
            <a href="index.html"><img id="logo" src="XSite.png" alt="XSite" width="160" height="100"/></a>
        </div>

        <div id="center" class="${centerClass}">
            <div id="content">
                <h1 class="FirstChild">${title}</h1>

                ${body}

                <br><br>
                
            </div>
        </div>

        <div class="SidePanel" id="left">
            <#list sitemap.sections as section>
                <div class="MenuGroup">
                    <h1>${section.name}</h1>
                    <ul>
                        <#list section.entries as entry>
                            <#if entry = page>
                                <li class="currentLink">${entry.title}</li>
                            <#else>
                                <li><a href="${entry.href}">${entry.title}</a></li>
                            </#if>
                        </#list>
                    </ul>
                </div>
            </#list>
        </div>

  </body>
</html>

