<ol>
	{% for x in site.posts %}
		{% assign i = forloop.index %}
		{% assign imprimiu = false %}
		{% for item in site.posts %}
			{% if i == item.section and item.category.last == page.category.last %}
				{% if item.language == page.language %}
					{%  if i == page.section %}<li class="selected">{% else %}<li>{% endif %}<a class="titulo" href="{{site.baseurl}}{{item.url}}"><strong>
					{% if item.section < 10 %}
						0{{item.section}}
					{% else %}
						{{item.section}}
					{% endif %}
					</strong>{{item.title}}</a>
					{% assign imprimiu = true %}
				{% endif %}
				{% if imprimiu == false %}
					{% assign section = item %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if imprimiu == false and i == section.section %}
			<li><a class="titulo" href="{{site.baseurl}}{{section.url}}"><strong>{{section.section}}</strong> {{section.title}}</a>
		{% endif %}
		{% for idiomas in site.posts %}
			{% if i == idiomas.section and idiomas.category.last == page.category.last  %}
				<a class="idioma" title="{{idiomas.language}}" href="{{site.baseurl}}{{idiomas.url}}"><span class="flag flag-{{idiomas.language}}"></span></a>
			{% endif %}
			{% if forloop.last == true %}
				</li>
			{% endif %}
		{% endfor %}
	{% endfor %}
</ol>
