<span id="idiomas">
{% for item in site.posts %}
	{% if item.section == page.section and item.categories.last == page.categories.last %}
		{% assign language = {{item.categories.first}} %}
		{% if item.categories.first == page.categories.first %}
			<a class="idioma" title="{{item.categories.first}}" href="{{site.baseurl}}{{item.url}}"><span class="flag flag-{{item.categories.first}}"></span>{{ language | upcase }}
		{% else %}
			<a class="idioma not-selected" title="{{item.categories.first}}" href="{{site.baseurl}}{{item.url}}"><span class="flag flag-{{item.categories.first}} not-selected"></span> {{ language | upcase }}
		{% endif %}
		</a>
	{% endif %}
{% endfor %}
</span>
