#content {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 90%;
	line-height: 150%;
	color:#000;
	max-width: 63em;
	margin-left: 350px;
	padding-left: 40px;
	padding-top: 181px
}

#content p {
	padding-left:2px;
}

.highlight {
	font-size: 110%;
	line-height: 100%;
}

.nota {
	background-color: #a29bc0;
	padding: 10px 20px;
}

.nota h4 {
	margin: 0;
}

#content h1 {
	font-family: Helvetica, Arial, Sans-serif;
	color: #2b2747;
	font-size:160%;
	font-weight:bold;
	padding-bottom:18px;
}

#content h1 span {
display: inline-block;
max-width: 48px;
padding: 7.5px 10px;
margin-right: 10px;
border: 1px solid #e1e1e1;
border-radius: 8px;
}

#content h3 {
	font-family: Helvetica, Arial, Sans-serif;
	color:#2b2747;
	font-size:130%;
	font-weight:bold;
	padding-top:20px;
}

.cookbook {
	list-style-type: decimal;
}

.cookbook li {
	padding-bottom: 10px;
}
