#content {
	margin-left: 350px;
	padding: 0 40px;
	font-family: Helvetica, Arial, Sans-serif;
	font-size:0.9em;
	line-height:1.5em;
	color:#000;
}

.highlight {
	font-size: 1.1em;
	line-height: 1em;
}

.nota {
	background-color: #a29bc0;
	padding: 10px 20px;
}

.nota h4 {
	margin: 0;
}

h1 {
	font-family: Helvetica, Arial, Sans-serif;
	color: #2b2747;
	font-size:1.6em;
	font-weight:bold;
	padding-bottom:18px;
}

h1 span {
	padding:5px 10px;
	margin-right:10px;
	border:1px solid #e1e1e1;
	border-radius:8px;
	
}

h3 {
	font-family: Helvetica, Arial, Sans-serif;
	color:#2b2747;
	font-size:1.3em;
	font-weight:bold;
	padding-top:20px;
}

.titulo-topo {
		font-family: Helvetica, Arial, Sans-serif;
		color: #ddd;
		font-size:2.9em;
		font-weight:bold;
		text-shadow: 1px 1px white, -1px -1px #bebebe;
		margin: 20px 389px;
		
	}
