.content {
	margin: 0 auto;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 90%;
	line-height: 150%;
	color:#000;
	max-width: 990px;
}

.content-title {
	color: #2b2747;
	font-size:160%;
	font-weight:bold;
	padding-bottom:18px;
}

#beneficios .content-title {
	padding-bottom: 60px;
}

.content h3 {
	color:#2b2747;
	font-size:130%;
	font-weight:bold;
	padding-top:20px;
}


#chamada {
	/* 110px/16px  e 75px/16px*/
	margin: 110px auto;
	height: 150px;
	width: 875px;
}

#chamada p {
	text-align: justify;
}

#divisao {
	border-top: 32px solid #2A2948;
	border-bottom: 15px solid #FFF;
	background-color: #ededed;
	height: 123px;
}

#chamada img {
float: left;
width: 275px;
margin: -85px 65px 0 0;
}

#beneficios {
	margin-top: 95px;
}

.benefitsBox h4 {
	font-size: 21px;
	color: #293049;
	text-transform: uppercase;
}

.benefitsBox p {
	font-size: 14px;
	color: #353535;
	text-align: justify;
}

.benefitsBox {
	display: block;
	float: left;
	width: 416px;
	height: 185px;
	margin-bottom: 20px;
	margin-left: 37px;
	padding-bottom: 10px;
	border-bottom: solid 1px #999;
}

.benefitsLogo {
	width: 105px;
	height: 100px;
	background-image: url(../images/vraptorSprites2.png);
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	margin: 41px 30px 41px 0 ;
	vertical-align: middle;
}

#produtividadeFB {
background-position: 0 -585px;
}

#aprendizadoFB {
background-position: 0 0;
}

#testabilidadeFB {
background-position: 0 -690px;
}

#economiaFB {
background-position: 0 -100px;
}

#flexibleFB {
background-position: 0 -221px;
}

#soaFB {
background-position: 0 -824px
}

#melhoresFB {
background-position: 0 -448px
}

#documentacaoFB {
background-position: 0px -336px;
}

#empresas {
	display: inline-block;
}

.sprite{
	background: url(../images/spritesHome.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.empresaLogo {
	margin-right: 25px;
}

.quem {
	width: 15px; 
	height: 90px; 
	margin: 16px 25px 16px 0;
}

.download{
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #fff;
	background-color: #2a2a46;
	padding: 6px 15px;
	border-radius: 6px;
	position:relative;
	top:0;
	left: 75px;
}

.treinamento {
	background-color: #484868;
}

.treinamento-bloco {
	display: inline-block;
	vertical-align: middle;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 23px;
	color: #fff;
	
}

.treinamento-bloco > * {
	display: inline-block;
	vertical-align: middle;
}

#caelum-triad {
	background-color: #2a2a46;
	padding: 25px 48px;
	margin: 15px 0 15px 45px;
	border-radius: 6px;
}

.treinamento-bloco span {
	max-width: 165px;
}

#who_uses{background-position: 0 -306px ;}
#quem_usa{background-position: -20px -310px ;}
#wine{ background-position: 0 -39px ; width: 140px; height: 54px; }
#defferrari{background-position: -55px -306px ; width: 131px; height: 67px; vertical-align: bottom;}
#locaweb{background-position: -2px -255px ; width: 144px; height: 45px; }
#agenciaclick{background-position: 0 0; width: 186px; height: 33px; margin-right: 0;}
#seta{ background-position: -101px -130px ; width: 22px; height: 40px; border-right: 1px solid grey;}

#vraptor{background-position: 0 -102px ; width: 87px; height: 86px; margin-right: 30px;}
#caelum{background-position: -56px -379px ; width: 130px; height: 41px; margin-right: 23px;}
#triadworks{ background-position: 0 -198px ; width: 146px; height: 49px; }