.content {
	margin: 0 auto;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 90%;
	line-height: 150%;
	color:#000;
	max-width: 990px;
}

.content-title {
	color: #2b2747;
	font-size:160%;
	font-weight:bold;
	padding-bottom:18px;
}

.content h3 {
	color:#2b2747;
	font-size:130%;
	font-weight:bold;
	padding-top:20px;
}


#chamada {
	/* 110px/16px  e 75px/16px*/
	margin: 6.8em auto;
	height: 150px;
}

#chamada p {
	text-align: justify;
}

#divisao {
	border-top: 2em solid #2A2948;
	border-bottom: 15px solid #FFF;
	background-color: #ededed;
}

#chamada-img {
	display: inline-block;
	width: 23.75em;
	height: 10.8em;
	float: left;
	border: 1px dotted red;
	margin-right: 5em;
}

#beneficios {
	margin-top: 6.8em;
}

.benefitsBox h4 {
font-size: 21px;
color: #293049;
text-transform: uppercase;
}

.benefitsBox p {
font-size: 14px;
color: #353535;
text-align: justify;
}

.benefitsbox {
display: block;
float: left;
width: 416px;
height: 185px;
margin-bottom: 20px;
margin-left: 37px;
padding-bottom: 10px;
border-bottom: solid 1px #999;
}

.benefitsLogo {
	width: 105px;
	height: 100px;
	background-image: url(/vraptor/assets/images/vraptorSprites2.png);
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	margin: 41px 30px 41px 0 ;
	vertical-align: middle;
}

#produtividadeFB {
background-position: 0 -585px;
}

#aprendizadoFB {
background-position: 0 0;
}

#testabilidadeFB {
background-position: 0 -690px;
}

#economiaFB {
background-position: 0 -100px;
}

#flexibleFB {
background-position: 0 -221px;
}

#soaFB {
background-position: 0 -824px
}

#melhoresFB {
background-position: 0 -448px
}

#documentacaoFB {
background-position: 0px -336px;
}

#empresas {
	display: inline-block;
}

.sprite{
	background: url(/vraptor/assets/images/spritesHome.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.empresaLogo {
	margin-right: 25px;
}

.quem {
	margin: 16px 25px 16px 0;
}

.download{
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #fff;
	background-color: #2a2a46;
	padding: 6px 15px;
	border-radius: 6px;
}

#who_uses{background-position: 0 -306px ; width: 15px; height: 86px; }
#quem_usa{background-position: -20px -310px ; width: 16px; height: 91px;}
#wine{ background-position: 0 -39px ; width: 140px; height: 54px; }
#defferrari{background-position: -55px -306px ; width: 131px; height: 67px; vertical-align: bottom;}
#locaweb{background-position: -2px -255px ; width: 144px; height: 45px; }
#agenciaclick{background-position: 0 0; width: 186px; height: 33px; margin-right: 108px;}
#seta{ background-position: -101px -130px ; width: 22px; height: 40px; border-right: 1px solid grey;}

#vraptor{background-position: 0 -102px ; width: 87px; height: 86px; }
#caelum{background-position: -56px -379px ; width: 130px; height: 41px; }
#triadworks{ background-position: 0 -198px ; width: 146px; height: 49px; }