#header {
	background-color: #f6f6f6;
	float: right;
	height: 141px;
	width: 100%;
}

#horizontal-menu {
	background-color: #48476a;
}

#horizontal-menu ul {
	display: inline-block;
}

#horizontal-menu ul li {
	display: inline-block;
	font-family: Helvetica, Arial, Sans-serif;
	font-size:1.1em;
	display: inline-block;
	padding: 5px 25px;
	margin: 10px -2px;
	border-left: 1px solid #37365b;
	border-right: 1px solid #626186;
}

#horizontal-menu #hzmenu a {
	text-decoration: none;
	color: white;
}

#horizontal-menu #idiomas {
	float: right;
	margin-right: 70px;
}

#horizontal-menu #idiomas span {
	margin-right: 5px;
}

#horizontal-menu #idiomas a {
	text-decoration: none;
	display: inline-block;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: #FFF;
	border-bottom: 1px solid #EBEBEB;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	border-radius: 0 0 8px 8px;
	padding: 5px 10px;
	color:#2b2748;
}

#horizontal-menu #hzmenu li:first-child {
	border-left: none;
}

#horizontal-menu #hzmenu li:last-child {
	border-right: none;
}



#header .titulo-topo {
		font-family: Helvetica, Arial, Sans-serif;
		color: #ddd;
		font-size:2.9em;
		font-weight:bold;
		text-shadow: 1px 1px white, -1px -1px #bebebe;
		margin: 47px 0 0 390px;
}

#menu {
	background-color: #eaeaea;
	float: left;
	width: auto;
	min-width: 300px;
	max-width: 350px;
	position: relative;
	top: -141px;
}

#menu a#logo {
	display: inline-block;
	margin: 35px 47px;
}

#menu ol{
	list-style-type: none;
	padding-left: 0;
	background-color: black;
	margin: 0;
}

#menu li{
	padding: 10px 25px;
	background: #3b3a60; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b3a60 0%, #2a2949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3a60), color-stop(100%,#2a2949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b3a60 0%,#2a2949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b3a60 0%,#2a2949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b3a60 0%,#2a2949 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3b3a60 0%,#2a2949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3a60', endColorstr='#2a2949',GradientType=0 ); /* IE6-9 */
	margin-bottom: 1px;
}

#menu li:active{
	background: #3b3a60; /* Old browsers */
	background: -moz-linear-gradient(bottom,  #3b3a60 0%, #2a2949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#3b3a60), color-stop(100%,#2a2949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  #3b3a60 0%,#2a2949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  #3b3a60 0%,#2a2949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  #3b3a60 0%,#2a2949 100%); /* IE10+ */
	background: linear-gradient(to top,  #3b3a60 0%,#2a2949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2949', endColorstr='#3b3a60',GradientType=0 ); /* IE6-9 */
}

#menu .selected{
	background: #403e70; /* Old browsers */
	background: -moz-linear-gradient(top, #403e70 0%, #504e82 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#403e70), color-stop(100%,#504e82)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #403e70 0%,#504e82 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #403e70 0%,#504e82 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #403e70 0%,#504e82 100%); /* IE10+ */
	background: linear-gradient(to bottom, #403e70 0%,#504e82 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403e70', endColorstr='#504e82',GradientType=0 ); /* IE6-9 */
	border-left: 6px solid #adaeb0;
	padding-left: 19px;
}

#menu li a {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 90%;
	line-height:150%;
	color: white;
	text-decoration: none;
}

#menu li .titulo {
	display: block;
}