
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>v|raptor</title>
	<link href="../includes/css/screen.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="../includes/css/java.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../includes/css/menu.css" rel="stylesheet" type="text/css" media="screen" />
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
    <![endif]-->
</head>

<body>
	<div id="headerWrap">
    	<div id="headerContent">
        	<h1 id="logoVraptor"><span>v|raptor</span></h1><!-- vraptorlogo-->
            
            <ul id="langMenu">
            	<li><a id="engBtn" href="../../documentacao/en"><span>ENGLISH</span></a></li>
                <li><a id="ptBtn" href="../../documentacao/"><span>PORTUGUES</span></a></li>
            </ul><!-- langMenu-->            
        </div><!-- header content -->
    </div><!-- header wrap-->
    
    <div id="menuWrap">
    	<ul id="menuElements">
        	<li><a id="homeBtn" href="../../index.jsp"><span>home</span></a></li>
        	<li><a id="downloadBtn" href="../../download.jsp"><span>download</span></a></li>
        	<li><a id="documentacaoBtn" href="../../documentacao.jsp"><span>documentação</span></a></li>
        	<li><a id="beneficiosBtn" href="../../beneficios.jsp"><span>benefícios</span></a></li>
        	<li><a id="suporteBtn" href="../../suporte.jsp"><span>suporte</span></a></li>
        	<li><a id="vraptor2Btn" href="../../vraptor2.jsp"><span>vraptor2</span></a></li>
        </ul><!-- menuElements-->
    </div><!-- menuWrap-->
           
<div id="contentWrap">
    	<div id="contentDocumentacao">
        	<h2><span>documentação</span></h2>
            <h3>documentação toda em português, configuração, migração e utilização.</h3>
            
            <div id="subMenuDoc">
            	<img id="positionTop" src="../includes/images/subMenuTop-trans.png" />
                <img id="positionBottom" src="../includes/images/subMenuBottom-trans.png" />
            	<ol type="1">
									<li><a class="link_toc" href="../../en/vraptor3-one-minute-guide/">1. VRaptor3 - One minute guide</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-one-minute-guide/#starting-up/">2. VRaptor3 - Ten minutes guide</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-one-minute-guide/#a-simple-controller/">3. Resources-Rest</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/">4. Components</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#starting-a-project-a-on-line-store/">5. Converters</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#product-registry/">6. Interceptors</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#creating-productdao-dependency-injection/">7. Validation</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#add-form-redirecting-the-request/">8. View and Ajax</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#validation/">9. Dependency injection</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#controlling-transactions-interceptors/">10. Downloading</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#shopping-cart-session-components/">11. Utility Components</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#a-bit-of-rest/">12. Advanced configurations: overriding VRaptor's behavior and conventions</a></li>
		
									<li><a class="link_toc" href="../../en/vraptor3-ten-minutes-guide/#message-bundle-file/">13. Testing components and controllers</a></li>
		
									<li><a class="link_toc" href="../../en/resources-rest/">14. ChangeLog</a></li>
		
									<li><a class="link_toc" href="../../en/resources-rest/#what-are-resources/">15. Migrating from VRaptor2 to VRaptor3</a></li>
		
                </ol>
            </div><!-- submenu-->
                        
            <div id="textoCapitulo">
	
		<h2 class="chapter">Components</h2>

		


<h3 class="section">What are components?</h3>
	    	<span class="paragraph">Components are object instances that your application need to execute tasks or to
keep state in different situations.</span>
	    	<span class="paragraph">DAOs and e-mail senders are classic component examples.</span>
	    	<span class="paragraph">The best practices suggest you should <em class="italic">always</em> create interfaces for your components to implement.
This makes your code much easier to unit test.</span>
	    	<span class="paragraph">The following example shows a VRaptor-managed component:</span>
	    	<div class="java"><code class="java">
<span class="java16">@Component<br />
</span><span class="java4">public class </span><span class="java10">ClientDao </span><span class="java8">{<br />
 <br />
&nbsp; </span><span class="java4">private final </span><span class="java10">Session session;<br />
&nbsp; </span><span class="java4">public </span><span class="java10">ClientDao</span><span class="java8">(</span><span class="java10">HibernateControl control</span><span class="java8">) {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.session = control.getSession</span><span class="java8">()<br />
&nbsp; }<br />
&nbsp; <br />
&nbsp; </span><span class="java4">public </span><span class="java9">void </span><span class="java10">add</span><span class="java8">(</span><span class="java10">Client client</span><span class="java8">) {<br />
&nbsp;&nbsp;&nbsp; </span><span class="java10">session.save</span><span class="java8">(</span><span class="java10">client</span><span class="java8">)</span><span class="java10">;<br />
&nbsp; </span><span class="java8">}<br />
&nbsp; <br />
}</span></code></div>
		

<h3 class="section">Scopes</h3>
	    	<span class="paragraph">Just like resources, components live in specific scopes and follow the same rules.
The default scope for a component is the request scope, meaning that a new instance
will be created for each request.</span>
	    	<span class="paragraph">The following example shows a Hibernate-based connection provider.
The application scope is specified for the provider, so only one instance 
per application context will be created:</span>
	    	<div class="java"><code class="java">
<span class="java16">@ApplicationScoped<br />
@Component<br />
</span><span class="java4">public class </span><span class="java10">HibernateControl </span><span class="java8">{<br />
 <br />
&nbsp; </span><span class="java4">private final </span><span class="java10">SessionFactory factory;<br />
&nbsp; </span><span class="java4">public </span><span class="java10">HibernateControl</span><span class="java8">() {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.factory = </span><span class="java4">new </span><span class="java10">AnnotationConfiguration</span><span class="java8">()</span><span class="java10">.configure</span><span class="java8">()</span><span class="java10">.buildSessionFactory</span><span class="java8">()</span><span class="java10">;<br />
&nbsp; </span><span class="java8">}<br />
&nbsp; <br />
&nbsp; </span><span class="java4">public </span><span class="java10">Session getSession</span><span class="java8">() {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">return </span><span class="java10">factory.openSession</span><span class="java8">()</span><span class="java10">;<br />
&nbsp; </span><span class="java8">}<br />
&nbsp; <br />
}</span></code></div>
		

<h3 class="section">ComponentFactory</h3>
	    	<span class="paragraph">It can happen that one of your class dependencies doesn't belong to your project, like 
the Session from Hibernate or EntityManager from JPA.</span>
	    	<span class="paragraph">In order to do that you can create a ComponentFactory:</span>
	    	<div class="java"><code class="java">
<span class="java16">@Component<br />
</span><span class="java4">public class </span><span class="java10">SessionCreator </span><span class="java4">implements </span><span class="java10">ComponentFactory&lt;Session&gt; </span><span class="java8">{<br />
<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">private final </span><span class="java10">SessionFactory factory;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">private </span><span class="java10">Session session;<br />
<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">public </span><span class="java10">SessionCreator</span><span class="java8">(</span><span class="java10">SessionFactory factory</span><span class="java8">) {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.factory = factory;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java8">}<br />
<br />
&nbsp;&nbsp;&nbsp; </span><span class="java16">@PostConstruct<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">public </span><span class="java9">void </span><span class="java10">create</span><span class="java8">() {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.session = factory.openSession</span><span class="java8">()</span><span class="java10">;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java8">}<br />
<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">public </span><span class="java10">Session getInstance</span><span class="java8">() {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">return </span><span class="java10">session;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java8">}<br />
<br />
&nbsp;&nbsp;&nbsp; </span><span class="java16">@PreDestroy<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">public </span><span class="java9">void </span><span class="java10">destroy</span><span class="java8">() {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.session.close</span><span class="java8">()</span><span class="java10">;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java8">}<br />
<br />
}</span></code></div>
	    	<span class="paragraph">Note that you can add listeners like @PostConstruct and @PreDestroy to manage creation
and destruction of you factory resources. You can use these listeners on any component
that you register on VRaptor.</span>
		

<h3 class="section">Dependency injection</h3>
	    	<span class="paragraph">VRaptor uses one of its own dependency injection providers to control what it needs 
in order to create new instances of your components and resources.</span>
	    	<span class="paragraph">For that reason, the former two examples allow any of your resources or components to
receive a ClientDao in its constructor. For example:</span>
	    	<div class="java"><code class="java">
<span class="java16">@Resource<br />
</span><span class="java4">public class </span><span class="java10">ClientController </span><span class="java8">{<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">private final </span><span class="java10">ClientDao dao;<br />
&nbsp;&nbsp;&nbsp; <br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">public </span><span class="java10">ClientController</span><span class="java8">(</span><span class="java10">ClientDao dao</span><span class="java8">) {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.dao = dao;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java8">}<br />
<br />
&nbsp;&nbsp;&nbsp; </span><span class="java16">@Post<br />
&nbsp;&nbsp;&nbsp; </span><span class="java4">public </span><span class="java9">void </span><span class="java10">add</span><span class="java8">(</span><span class="java10">Client client</span><span class="java8">) {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="java4">this</span><span class="java10">.dao.add</span><span class="java8">(</span><span class="java10">client</span><span class="java8">)</span><span class="java10">;<br />
&nbsp;&nbsp;&nbsp; </span><span class="java8">}<br />
&nbsp;&nbsp;&nbsp; <br />
}</span></code></div>
		

</div><!-- content -->
            
        </div><!-- content cnt -->
    </div><!-- content wrap-->
    
   
    <div id="footerWrap">
    	<div id="footerContent">
        	<div id="treinamentoFooter">
            	<a href="#.html" class="moreIcon" title="Saiba Mais"><span>+</span></a><h3>Treinamento</h3>
                <p>Conheça os nossos planos de suporte e saiba como resolver os seus problemas sem ter que aguardar por novas atualização na documentação.</p>
            </div><!--treinamento-->
            <div id="consultoriaFooter">
           		<a href="#.html" class="moreIcon" title="Saiba Mais"><span>+</span></a><h3>Consultoria</h3>
                <p>Conheça os nossos planos de suporte e saiba como resolver os seus problemas sem ter que aguardar por novas atualização na documentação.</p>            
            </div><!-- consultoria-->
            <div id="suporteFooter">
	           	<a href="#.html" class="moreIcon" title="Saiba Mais"><span>+</span></a><h3>Suporte</h3>
                <p>Conheça os nossos planos de suporte e saiba como resolver os seus problemas sem ter que aguardar por novas atualização na documentação.</p>            
            </div><!-- suporte-->
            <div class="footbar">
            	<img class="logoFooter" src="images/logoCaelumGray-trans.png" alt="vraptor logo" />
                <ul>
                	<li>site map:</li>
                    <li><a href="#.html">home</a></li>
                    <li>|</li>
                    <li><a href="#.html">download</a></li>
                    <li>|</li>
                    <li><a href="#.html">documentação</a></li>
                    <li>|</li>
                    <li><a href="#.html">suporte</a></li>
                    <li>|</li>
                    <li><a href="#.html">vraptor2</a></li>
                </ul>
                <p><a href="#.html">licença de uso</a> - VRaptor ©2009 Caelum - Ensino e Inovação</p>
            </div><!-- footnote-->
        </div><!-- footer content -->
    </div><!-- footer wrap-->
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-270161-11");
	pageTracker._trackPageview();
	} catch(err) {}
 </script>
    
</body>
</html>
