@charset "UTF-8";
/* CSS Document */

/*language bar*/
		#langMenu{
			display:block;
			width:221px;
			height:50px;
			position:relative;
			float:right;
			margin:0px;}
		
			#langMenu li { list-style:none; }
			
			#langMenu li, #langMenu a{ height:50px; display:block;}
			
			#langMenu li a span{display:none;}
			
			#engBtn{
				background-image:url(images/vraptorSprites-trans.png);
				background-repeat:no-repeat;
				background-position:-317px 1px;
				position:absolute;
				top:0;
				width:96px;
				left:0px;} 
				
				a#engBtn:hover{background-position:-317px -50px;}
			
			#ptBtn{
				background-image:url(images/vraptorSprites-trans.png);
				background-repeat:no-repeat;
				background-position:-414px 1px;
				position:absolute;
				top:0;				
				width:127px;
				right:0px;}
				
				a#ptBtn:hover{background-position:-414px -50px;}

#menuWrap {
	display:block;
	width:100%;
	height:59;
	position:relative;
	overflow:hidden;
	background-image:url(images/bgHeader.png);
	background-position:0px -100px;
	background-repeat:repeat-x;}
	
	#menuElements, #menuElementsEn{
		display:block;
		width:832px;
		height:59px;
		position:relative;
		margin:0px auto;
		text-align:left;}
		
		#menuElements li, #menuElementsEn li {list-style:none;}
		
		#menuElements li, #menuElements a{
			height:59px; 
			display:block;
			position:absolute;
			top:0px;}
		
		#menuElementsEn li {
			float: left;
			margin: 16px 5px;
		}
		#menuElementsEn li a:hover {
			color: #2a2948;
			background-color: #a29bc0;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
			-opera-border-radius: 5px;
			border-radius: 5px;
		}
		a#homeBtnEn, a#downloadBtnEn, a#documentacaoBtnEn, a#beneficiosBtnEn, a#suporteBtnEn, a#vraptor2BtnEn {
			font-size: 12pt;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			position:relative;
			padding: 5px 15px;
			color: white;
			top: auto;
		}
		a#vraptor2BtnEn {
			font-size: 10pt;
		}
			#homeBtn, #downloadBtn, #documentacaoBtn, #beneficiosBtn, #suporteBtn, #vraptor2Btn {
				background-image:url(images/vraptorSprites-trans.png);
				background-repeat:no-repeat;}
				
			#homeBtn span, #downloadBtn span, #documentacaoBtn span, #beneficiosBtn span, #suporteBtn span, #vraptor2Btn span {display:none;}
			
        	#homeBtn{ background-position:-239px -570px; left:0px;	width:90px;}
				#homeBtn:hover{background-position:-239px -629px;}
				
			#downloadBtn{background-position:-329px -570px;	left:90px;	width:144px;}
				#downloadBtn:hover{background-position:-329px -629px;}
				
			#documentacaoBtn{background-position:-473px -570px;	left:234px;	width:187px;}
				#documentacaoBtn:hover{background-position:-473px -629px;}
				
			#beneficiosBtn{background-position:-660px -570px;	left:421px;	width:165px;}
				#beneficiosBtn:hover{background-position:-660px -629px;}
				
			#suporteBtn{background-position:-825px -570px;	left:586px;	width:126px;}
				#suporteBtn:hover{background-position:-825px -629px;}
				
			#vraptor2Btn{background-position:-951px -570px;	left:712px;	width:126px;}
				#vraptor2Btn:hover{background-position:-951px -629px;}

#subMenu{position:absolute; left:50%; top:0px; font-size:12px; font-weight:bold; margin-left:-440px; cursor:pointer; width:880px; }
#subMenu li{display:block; float:left; padding:10px 5px;}
#subMenu li a{display:block; color:#333; text-decoration:none; text-transform:uppercase;}
#subMenu li a:hover{color:#03C;}

#subMenuDoc{
	position: absolute;
	left:0px; top:125px;
	width:333px;
	height:auto;
	margin-bottom:10px;}
	
	#positionTop{display:block; position:absolute; left:0px; top:0px;}
	#positionBottom{display:block; position:absolute; left:0px; bottom:0px;}
	
	#subMenuDoc ol{background-image:url(images/bgSubMenu-trans.png); width:100%; height:100%; margin:10px 0px 18px 0px;}
	
	#subMenuDoc ol li {padding:10px 0px; border-bottom:1px solid #575757; font-size:14px;}
	
	#subMenuDoc ol li a {text-decoration:none; color:#2C2C2C; font-weight:bold; display:block; width:300px; margin:0px auto;}
	#subMenuDoc ol li a:hover{color:#625696;}