@charset "UTF-8";
/* CSS Document */
code *, pre * {
	font-family: monospace;
}
*{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
body{
	background-color:#2a2948; 
	text-align:center;}

#contentSuporte .suporteBox ul li a em.bigger {
	font-size: 14pt;
}

#formulario_inscricao {
	text-align: left;	
}
/* tutorial.jsp */
#formulario_inscricao label {
	font-size: 11pt;
}
#formulario_inscricao button:hover {
	color:#333399;
	cursor: pointer;
}
#formulario_inscricao button {
	color:#003;	
	font-size:16px;	
	text-transform:uppercase;
	font-weight: bold; 
	padding: 10px;
	background-color: #d5d5db;
}
#formulario_inscricao label.required {
	font-weight: bold;	
}
#formulario_inscricao label.error {
	color: darkred;
	display: inline;
	padding-left: 10px;
}
#formulario_inscricao input, #formulario_inscricao label {
	display: block;	
	text-align: left;
}
#formulario_inscricao input:focus {
	background-color: #FFF;
}
#formulario_inscricao input.error {
	display: inline;
	border: 1px solid red;	
}
#formulario_inscricao input {
	width: 27em;
	height: 1.5em;
	border: 1px solid black;
	padding: 2px;
	background-color: #ececec;	
}
#formulario_inscricao fieldset.buttons {
	border: none;
}
#formulario_inscricao legend {
	border: 1px solid #ddaccc;
	padding: 2px;
	font-size: 14pt;
	font-weight: bold;
}
#formulario_inscricao fieldset {
	width: 650px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #ddaccc;
	padding: 10px 20px;	
}
/*header structure*/
#headerWrap{
	background-image:url(images/bgHeader.png);
	background-position:left top;
	background-repeat:repeat;
	background-color:#0CF;
	display:block; 
	width:100%;
	height:100px;
	position:relative;}
	
	#headerContent{
		width:918px;
		display:block;
		height:100%;
		position:relative;
		margin:0px auto;}
		
		#logoVraptor {
			display:block;
			width:302px;
			height:92px;
			background-image:url(images/vraptorSprites-trans.png);
			background-position:-6px 0px;
			background-repeat:no-repeat;
			position:absolute;
			left:0px;
			top:0px;}
			
			#logoVraptor span {display:none;}

/*menus like langbar and menuelements menu.css*/

/*banner css configuration*/
#bannerWrap{
	background-image:url(images/bgHeader.png);
	background-position:0 -158px;
	background-repeat:repeat;
	display:block; 
	width:100%;
	height:302px;
	position:relative;}	

	#banner{
		width:918px;	
		height:auto;
		margin:0px auto;	
		display:block;	
		height:auto;	
		text-align:left;}
		
		#banner #floatBoxBanner {display:block; float:right; position:relative; height:auto; width:650px;}
		
		 #banner #floatBoxBanner h1{
			font-size:30px;
			margin-top:45px;
			margin-bottom:35px;
			color:#FFF;
			text-transform:uppercase;
		}
		
		 #banner #floatBoxBanner #downloadBtn2{
			background-image:url(images/vraptorSprites-trans.png);
			background-repeat:no-repeat;
			background-position:-767px -56px;
			margin-top:15px;
			display:block;
			width:238px;
			height:54px;
			float:right;}
			#banner #downloadBtn2 span{display:none;}
		
		#banner #floatBoxBanner p{color:#FFF; float:right; padding-top:35px; padding-right:10px; text-transform:uppercase; font-size:10px;}
			#banner #floatBoxBanner p a {color:#FFF; font-size: 11pt; margin-right: 10px;}
			#banner #floatBoxBanner p a:hover{color:#FF0;}
		
		#banner #floatBoxBanner ul {color:#FFF; font-size:16px; list-style-type:none; width:450px;}
		 #banner #floatBoxBanner ul li {
			padding:4px 0px 4px 25px;
			background-image:url(images/yellowArrow-trans.png);
			background-repeat:no-repeat;
			background-position:2px 5px;}
			
		 #banner #floatBoxBanner #openSourceIcon {
			position:absolute; 
			top:120px;
			right:60px;}
		

/*content css*/
#contentWrap{
	display:block;
	width:100%;
	height:auto;
	position:relative;
	overflow:auto;
	background-color:#FFF;
	background-image:url(images/bgHeader.png);
	background-position:0px -461px;
	background-repeat:repeat-x;}
	
	/*css home*/
	#contentHome{ width:918px;	margin:0px auto; display:block;	height:auto; text-align:left; position:relative;}		
		#contentHome h2{ color:#2a2948;	font-size:24px;	display:block; width:475px;	text-transform:uppercase; margin-top:40px; margin-bottom:30px; font-weight:bold; float:left;}
		
		/*quickfeatures*/
		#contentHome #quickFeatures {
			width:450px;
			display:block;
			float:left;}
			
			.grayBarHome{
				background-image:url(images/bgBarHome-trans.png);
				background-repeat:no-repeat;
				background-position:left bottom;}
			
			#contentHome #quickFeatures div.featuresBox{
				display:block;
				height:90px;}
				
				#contentHome #quickFeatures .featuresBox a{
					background-image:url(images/vraptorSprites2-trans.png);
					background-repeat:no-repeat;
					text-decoration:none;
					display:block;
					height:100%;
					margin-top:20px;
					padding-left:120px;}
					
				#contentHome #quickFeatures .featuresBox a:hover h3{color:#003;}					
				#contentHome #quickFeatures .featuresBox a:hover p{color:#039;}				
					
				#contentHome #quickFeatures .featuresBox a h3 {font-size:21px; color:#293049; text-transform:uppercase;}
				#contentHome #quickFeatures .featuresBox a p {font-size:14px; color:#353535;}
				
				#produtividadeFB {background-position:0px -585px;}					
				#aprendizadoFB {background-position:0px 0px;}
				#testabilidadeFB {background-position:0px -690px;}
				#economiaFB {background-position:0px -100px;}
				#soaFB{background-position:0px -824px;}
				#flexibleFB{background-position:0px -221px;}
				#documentacaoFB{background-position:0px -336px;}
				#melhoresFB{background-position:0px -450px;}
		
		/*video box*/
		#contentHome #boxvideo {
			background-image:url(images/vraptorSprites-trans.png); 
			background-repeat:no-repeat; 
			background-position: -582px -120px; 
			margin-top:40px;
			width:415px; 
			height:315px; 
			padding-top:12px;
			padding-left:12px;			
			float:right;}		
			#contentHome #boxvideo object {display:block; background-color:#0CF;}
		
		/*twitter box*/
		#contentHome #twitterBox {float:right; width:415px; display:block; margin-top:15px; margin-bottom:25px;}	
			#contentHome #twitterBox h3{margin-bottom:20px;}
				#contentHome #twitterBox h3 a{font-size:18px; color:#1a1679; text-decoration:none;}
					#contentHome #twitterBox h3 a:hover{color:#00F;}
			
			#contentHome #twitterBox ul{list-style-type:none;}
				#contentHome #twitterBox ul li {
					background-image:url(images/vraptorSprites-trans.png); 
					background-position:-1024px -407px; 
					background-repeat:no-repeat; 			
					padding-left:60px;
					display:block;
					height:70px;
					float:left;}			
					#contentHome #twitterBox ul li p {font-size:11px; color:#353535; font-weight:bold;}
						#contentHome #twitterBox ul li p a{color:#333399;}
					#contentHome #twitterBox ul li p span {font-weight:normal;}

	/*css dowload*/	
	#contentDownload{ width:918px;	margin:0px auto; display:block;	height:auto; text-align:left; position:relative;}
		#contentDownload h2{ color:#2a2948;	font-size:42px;	display:block;	text-transform:uppercase;	margin-top:40px; margin-left:20px; font-weight:bold;}		
		#contentDownload h3{ color:#747488;	font-size:18px;	display:block;	text-transform:uppercase; font-weight:normal; margin-left:20px; margin-bottom:40px;}
		
		#contentDownload a.downloadBtn3{
			background-image:url(images/vraptorSprites-trans.png);
			background-position:-1022px -218px;
			background-repeat:no-repeat;
			display:block;
			height:49px;
			width:48px;
			float:right;
			margin-top:20px;
			margin-right:15px;}
			#contentDownload a.downloadBtn3 span {display:none;}			
			#contentDownload a.downloadBtn3:hover {background-position:-590px -66px;}		
		
		
		/*Como tags para 3 passos */
		#contentDownload .passo {
			background-image:url(images/vraptorSprites-trans.png);
			background-repeat:no-repeat;	
			overflow:hidden;			
			display:block;
			height:91px;
			width:582px;}	
			
		#contentDownload .passo p {
			background-repeat:no-repeat;
			display:block;
			float:left;}
			
		#contentDownload .passo p a {
			text-transform:uppercase;
			text-decoration:none;
			font-weight:bold;
			font-size:11px;			
			display:block;
			color:#003;}	
			
			#contentDownload .passo p a:hover {color:#333399;}
		
		/*tags específicas para cada tag passo1,passo2,passo3*/
		#contentDownload .passo{ background-position:0px -120px; margin-left:20px; margin-bottom:20px;}
			#contentDownload .passo p { width:490px; margin:13px 0px 0px 10px;}
				#contentDownload .passo p a{padding:20px 0px 25px 60px;}
					
	/*css documentacao*/	
	#contentDocumentacao{ width:100%; margin:0px auto; display:block; height:auto; text-align:left; position:relative;}
		#contentDocumentacao h2{ color:#2a2948;	font-size:42px;	display:block;	text-transform:uppercase;	margin-top:40px; margin-left:20px; font-weight:bold;}		
		#contentDocumentacao h3{ color:#747488;	font-size:18px;	display:block;	text-transform:uppercase; font-weight:normal; margin-left:20px; margin-bottom:40px;}
		.download { 
			font-size:16px;	
			display:block;	
			text-transform:uppercase; 
			font-weight: bold; 
			margin-right:10px; 
			margin-bottom:10px;
			float: right;
		}
		
		.download a {
			color:#003;	
			padding: 10px;
			background-color: #d5d5db;
			text-decoration: none;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px; 
		}
		.download a:hover {
			color:#333399;
		}
		
		
		#textoCapitulo{width:auto; margin-right:10px; margin-left:360px; display:block; text-align:justify; margin-bottom:40px;}
			#textoCapitulo h2 {font-size:30px; font-weight:bold; margin:0px 0px 10px 0px; padding:0px;}
			#textoCapitulo h3 {font-size:18px; font-weight:bold; margin:10px 0px 0px 0px; padding:0px; color:#150D6A;}
			#textoCapitulo p {font-size:12px; font-weight:normal;}
			#textoCapitulo pre {font-size:11px; color:#625696; font-family:"Courier New", Courier, monospace; margin-bottom:10px;}
			
	/*css beneficios*/	
	#contentBeneficios{ width:918px; margin:0px auto; display:block; height:auto; text-align:left; position:relative;}
		#contentBeneficios h2{ color:#2a2948;	font-size:42px;	display:block;	text-transform:uppercase;	margin-top:40px; margin-left:20px; font-weight:bold;}		
		#contentBeneficios h3{ color:#747488;	font-size:18px;	display:block;	text-transform:uppercase; font-weight:normal; margin-left:20px; margin-bottom:40px;}			
		
		.benefitsBox {
			display:block; 
			float:left;
			width:322px;
			margin-bottom:20px;
			margin-left:20px;
			padding-bottom:10px;
			padding-left:105px;
			border-bottom:solid 1px #999999;
			background-image:url(images/vraptorSprites2-trans.png);
			background-repeat:no-repeat;}
				
			.benefitsBox h4{font-size:21px; color:#293049; text-transform:uppercase;}
			.benefitsBox p{font-size:14px; color:#353535; text-align:justify;}
	
		/*depoimentos*/
			.depoimentoClientes { display:block; width:100%; border-bottom:solid 1px #999999; padding-bottom:10px; overflow:auto; margin-bottom:10px; padding-left:20px; }
				
			.depoimentoClientes em{display:block; float:left; width:15%; font-weight:bold; font-size:11px;}
			.depoimentoClientes em a{color:#1a1679; text-decoration:none;}
			.depoimentoClientes em a:hover{text-decoration:underline;}
			.depoimentoClientes p{float:right; width:80%; display:block; font-size:12px; text-align:justify; font-family:Georgia, "Times New Roman", Times, serif;}
	
	/*suporte css*/
		#contentSuporte{ width:918px;	margin:0px auto; display:block;	height:auto; text-align:left; position:relative;}
		#contentSuporte h2{ color:#2a2948;	font-size:42px;	display:block;	text-transform:uppercase;	margin-top:40px; margin-left:20px; font-weight:bold;}		
		#contentSuporte h3{ color:#747488;	font-size:18px;	display:block;	text-transform:uppercase; font-weight:normal; margin-left:20px; margin-bottom:40px;}
			#contentSuporte .suporteBox{
				width:292px; 
				display:block; 
				float:left; 
				text-align:left;
				margin-bottom:40px;
				margin-left:10px;}
				
				#contentSuporte .suporteBox h4 {
					display:block;
					background-image:url(images/vraptorSprites-trans.png);
					background-repeat:no-repeat;
					background-position:-240px -403px;
					width:292px;
					height:91px;
					position:relative;
				}
				
				#contentSuporte .suporteBox ul li {list-style-type:none; border-bottom:solid 1px #666; display:block; padding:10px 0px;}
				#contentSuporte .suporteBox ul li a{text-decoration:none; display:block;}
				#contentSuporte .suporteBox ul li a:hover{text-decoration:underline; color:#F90;}
				#contentSuporte .suporteBox ul li a em{font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-style:normal; font-size:14px; color:#152063; text-transform:uppercase;}
				#contentSuporte .suporteBox ul li a span{font-size:12px; color:#747488;}
				#contentSuporte .suporteBox ul li a span img {float:left; border:none; margin-right:10px;}
				
				#suporteGrayBox span, #treinamentoGrayBox span, #consultoriaGrayBox span{
					background-repeat:no-repeat;
					display:block;
					padding:35px 10px 10px 10px;
					font-size:18px;
					color:#152063;
					text-transform:uppercase;
					text-align:left;}
				
				#suporteGrayBox span {background-image:url(images/suportForum-trans.png); background-position:220px 25px;}
				#consultoriaGrayBox span{background-image:url(images/suportConsultoria-trans.png); background-position:230px 25px;}
				#treinamentoGrayBox span{background-image:url(images/suportTreinamento-trans.png); background-position:235px 25px;}
					
	
	/*Vraptro 2*/	
	#contentVraptor2{ width:918px;	margin:0px auto; display:block;	height:auto; text-align:left; position:relative;}
		#contentVraptor2 h2{ color:#2a2948;	font-size:42px;	display:block;	text-transform:uppercase;	margin-top:40px; margin-left:20px; font-weight:bold;}		
		#contentVraptor2 h3{ color:#747488;	font-size:18px;	display:block;	text-transform:uppercase; font-weight:normal; margin-left:20px; margin-bottom:40px;}
		
		#contentVraptor2 dl{display:block; margin-left:20px; margin-bottom:20px;}
		#contentVraptor2 dl dt {
			font-size:14px; 
			font-weight:bold; 
			margin-top:20px; 
			text-transform:uppercase;
			padding-left:18px;
			background-image:url(images/vraptorSprites-trans.png);
			background-repeat:no-repeat;
			background-position:-989px -528px;}
		#contentVraptor2 .oldForum {
			font-size: 9px;
		}
		#contentVraptor2 dl dd a {padding-left:18px; text-decoration:none; color:#625696; font-weight:bold;}
		#contentVraptor2 dl dd a:hover{color:#C60; font-weight:bold;}
		
	
/*footer css*/
#footerWrap{
	display:block; 
	width:100%;
	position:relative;}
	
	#footerContent{
		width:918px;
		display:block;
		height:100%;
		position:relative;
		margin:10px auto;
		overflow:hidden;
		position:relative;}
		
		#footerContent div#suporteFooter, #footerContent div#consultoriaFooter, #footerContent div#treinamentoFooter{
			width:280px; 
			display:block; 
			float:left; 
			text-align:justify;
			padding:10px 12px 20px 12px;}

			
			div#consultoriaFooter {
				margin:0px;/*espacamento entre as colunas*/
				border-left:solid 1px #FFF;
				border-right:solid 1px #fff;
			}
			
		#footerContent div#suporteFooter h3 a, #footerContent div#consultoriaFooter h3 a, #footerContent div#treinamentoFooter h3 a{
			color:#fffc01;
			font-size:18px;
			font-weight:normal;
			padding-bottom:15px;
			padding-left:25px;
			background-image:url(images/yellowArrow-trans.png);
			background-repeat:no-repeat;
			background-position:2px 2px;
			text-decoration:none;
			cursor:pointer;
			display:block;}

		#footerContent div#suporteFooter p a, #footerContent div#consultoriaFooter p a, #footerContent div#treinamentoFooter p a{
			color:#f0f0f0;
			font-size:14px;
			font-weight:normal;
			padding-left:25px;
			padding-right:20px;
			text-decoration:none;
			display:block;
			cursor:pointer;}
			
			div#footerContent a.moreIcon{
				background-image:url(images/vraptorSprites-trans.png);
				background-repeat:no-repeat;
				background-position: -958px 0px;
				height:26px;
				width:18px;
				display:block;
				float:right;}
				
				div#footerContent a.moreIcon:hover{background-position:-977px 0px;}
				
				a.moreIcon span {display:none;}

		#footerContent div.footbar{
			width:918px;
			height:100px;
			display:block; 
			position:relative;
			overflow:hidden;
			float:left;
			color:#CCC;
			text-transform:uppercase;
			text-align:left;
			padding-top:5px;
			margin-top:10px;}
			
			div.footbar img.logoFooter{float:right;}
			div.footbar a:hover{color:#FF0; text-decoration:underline;}			
			div.footbar ul {display:block; float:left; margin:5px 0px 5px 20px;}
			div.footbar ul li{ display:block; float:left; text-decoration:none; font-size:10px; font-weight:bold; margin:0px 2px 0px 0px;}
			div.footbar ul li a{color:#FFF; text-decoration:none; font-weight:normal;}
			div.footbar p{font-size:11px; padding:5px 20px; display:block; color:#576296; float:left; width:685px; border-top:solid 1px #576296;}
			div.footbar p a{color:#aaafc6; text-decoration:none;}

#signature { background-image:url(images/ldl-trans.png); background-repeat:no-repeat; background-position:left top; position:absolute; display:block; bottom:0px; left:10px; font-family:Georgia, "Times New Roman", Times, serif; font-size:10px; color:#FFF; padding:5px 0px 15px 30px; text-decoration:none;}
a#signature:hover{color:#C90;}