!!! 5
%html
  %head
    %meta( charset='utf-8' )
    %meta( name='author' content='Caelum' )
    %meta( name='description' content='VRaptor 3 - um framework java para web focado em desenvolvimento rápido' )
    %meta( name='keywords' content='sites, web, desenvolvimento, development, java, opensource' )
    %title
      V|Raptor - Alta produtividade no Desenvolvimento Web em Java
    %link( rel='stylesheet' type='text/css' href='/stylesheets/screen.css' media='screen, projection' )
    %link( rel='stylesheet' type='text/css' href='/stylesheets/print.css' media='print' )
    /[if lt IE 8]
      %link( rel='stylesheet' type='text/css' href='/stylesheets/ie.css' media='screen, projection' )
  %body
    %header
      %h1 V|Raptor
    %nav
      %ul
        %li
          %a( href='/' ) Home
        %li
          %a( href='/downloads' ) Downloads
        %li
          %a( href='/documentacao' ) Documentação
        %li
          %a( href='/beneficios' ) Benefícios
        %li
          %a( href='/suporte' ) Suporte
    <br/><br/><br/><br/>
    ~ content
    <br/><br/><br/><br/>
    %footer
      .suporteFooter
        %a( href='http://www.caelum.com.br/contato/' title='Saiba Mais' ) +
        %h3
          %a( href='http://www.caelum.com.br/contato/') Suporte
      .consultoriaFooter
        %a( href='http://www.caelum.com.br/servicos/consultoria/' title='Saiba Mais' ) +
        %h3
          %a( href='http://www.caelum.com.br/servicos/consultoria/' ) Consultoria
      .treinamentoFooter
        %a( href='http://www.caelum.com.br/curso/fj-28-vraptor-hibernate-ajax/' title='Saiba Mais' ) +
        %p
          %a( href='http://www.caelum.com.br/curso/fj-28-vraptor-hibernate-ajax/' ) Você tem mais de uma opção para treinar o seu time e receber suporte:
        %a( href='http://triadworks.com.br/' )
          %img( src='/images/triadworks-logo.png' width=100 height=30 alt='Triadworks' )
        %a( href='http://www.caelum.com.br/curso/online/vraptor' )
          %img( src='/images/caelum-logo.png' width=100 height=31 alt='Caelum Online' )
      .footbar
        %img( src='/images/logoCaelumGray-trans.png' alt='VRaptor' )
        %dl
          %dd Sitemap:
          %dt
            %a( href='/' ) Home
          %dt
            %a( href='/downloads' ) Downloads
          %dt
            %a( href='/documentacao' ) Documentação
          %dt
            %a( href='/beneficios' ) Benefícios
          %dt
            %a( href='/suporte' ) Suporte
        %p
          %a( href='http://www.apache.org/licenses/LICENSE-2.0' ) Licença Apache 2.0
          \ - VRaptor 2012 Caelum - Ensino e Inovação
        %p
          Profiled with
          %a( href='http://www.ej-technologies.com/products/jprofiler/overview.html' )
            JProfiler
    %script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
      var pageTracker = _gat._getTracker("UA-270161-11");
      pageTracker._trackPageview();
      } catch(err) {}
