<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="http://www.caelum.com.br/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/reset.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/home.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/menu.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/flags.css" type="text/css">
{% if page.title == 'home' %}
	<meta http-equiv="Refresh" content="0; url={{site.baseurl}}/pt/" />
{% endif %}
<title>{{page.title}}</title>
</head>
<body>

	<div id="header">
		{% include header.html %}
	</div>
	
		{{content}}
		
	<script type="text/javascript">
		var  headeri = document.getElementById('header').getElementsByClassName('idioma');
		var referrer = document.referrer.substring(30,32);
		var verifica = false;
			for(i=0; i<headeri.length; i++){
				if (headeri[i].title  == referrer){
					verifica = true;
				}
			}
		if (verifica == false){
			if (referrer == 'pt'){
				alert("Essa página não está disponível em "+document.referrer.substring(30,32)+". Ajude traduzindo.");
			}else{
				alert("This page isn't available in "+document.referrer.substring(30,32)+". Help us translating it.");
			}
		}
	</script>
	
</body>
</html>