<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="http://www.caelum.com.br/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/reset.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/content.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/menu.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/flags.css" type="text/css">
<title>{{page.title}}</title>
</head>
<body>

	<div id="header">
		{% include header.html %}
	</div>
	
	<div id="content">
		{{content}}
	</div>
	
</body>
</html>