<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/reset.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/pygments/default.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/content.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/menu.css" type="text/css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/flags.css" type="text/css">
<title>{{page.title}}</title>
</head>
<body>
	<div id="horizontal-menu">
		{% include horizontal-menu.html %}
		{%include outrasLinguas.html %}
	</div>
	<div id="header">
		<h1 class="titulo-topo">
			{% if page.category == 'docs' %}
				{% if page.language == 'pt' %}
					Documentação
				{% else %}
					Documentation
				{% endif %}
			{% else %}
				Cookbook
			{% endif %}		
	</h1>
	</div>

	<div id="menu">
		<a id="logo" href="http://www.vraptor.com.br"><img src="{{site.baseurl}}/assets/images/logo.png"/></a>
		{% include menu.html %}
	</div>
	
	<div id="content">
		<script type="text/javascript">document.getElementById('content').style['margin-left'] = document.getElementById('menu').offsetWidth</script>
		<h1><span>{% if page.section < 10 %}0{{page.section}}
							{% else %}{{page.section}}{% endif %}</span>{{page.title}}</h1>
		{{content}}
	</div>

<script type="text/javascript">
	var menu = document.getElementById("menu");
	var linhas = menu.getElementsByTagName("li");
	for(var i=0; i<linhas.length; i++) {
		var idiomasHTML = "";
		var linha = linhas[i];
		var titulo = linha.childNodes[0];
		var idiomas = linha.getElementsByClassName("idioma");
		var idiomasOrdenados = Array.prototype.slice.call(idiomas,0);
		idiomasOrdenados.sort(function(a,b){
			var aClass = a.getAttribute("title");
			var bClass = b.getAttribute("title");
			if(aClass > bClass) return 1;
			if(aClass < bClass) return -1;
			return 0;
		});
		idiomasOrdenados.forEach(function concatena(x){
			idiomasHTML += x.outerHTML;
		});
		linha.innerHTML = titulo.outerHTML + idiomasHTML;
	}
	
	var linhaAtual = document.getElementsByClassName('selected').item(0);
	var idiomasAtual = linhaAtual.getElementsByClassName('idioma');
	var header = document.getElementById('idiomas');
	var idiomas = header.getElementsByClassName('idioma');
	for(var j=0; j<idiomasAtual.length; j++){
		var bandeira = idiomasAtual.item(j).cloneNode(true);
		var span = bandeira.childNodes[0];
		if(bandeira.getAttribute('href') != window.location.pathname){
			var classNotSelected = span.getAttribute('class');
			span.setAttribute('class', classNotSelected+' not-selected');
			bandeira.style.color = '#c0bfc8';
		}
		bandeira.innerHTML = span.outerHTML + bandeira.getAttribute('title').toUpperCase();
		header.removeChild(idiomas[0]);
		header.appendChild(bandeira);
	}
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-270161-11']);
	_gaq.push(['_setDomainName', 'caelum.github.com']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

</script>
</body>
</html>
