<?xml version="1.0" encoding="UTF-8"?>

<!-- ====================================================================== 
     Project Name
     Description
     ====================================================================== -->

<project name="project-name" default="compile">

	<!-- ================================= 
          build configuration              
         ================================= -->
	<property name="src.dir" value="src/" />
	<property name="lib.dir" value="WebContent/WEB-INF/lib/" />
	<property name="compile.dir" value="WebContent/WEB-INF/classes/" />
	<property name="scala.home" value="/path/to/scala-2.8/installation/" />
	<property name="scala-compiler.jar" value="${scala.home}/lib/scala-compiler.jar" />
	<property name="scala-library.jar" value="${scala.home}/lib/scala-library.jar" />

	<path id="scala.classpath">
		<pathelement location="${scala-compiler.jar}" />
		<pathelement location="${scala-library.jar}" />
	</path>

	<path id="project.classpath">
		<path refid="scala.classpath" />
		<pathelement location="${compile.dir}" />
		<fileset dir="${lib.dir}">
			<include name="**/*.jar" />
		</fileset>
		<fileset dir="${compile.dir}">
			<include name="**/*.class" />
		</fileset>
	</path>

	<taskdef resource="scala/tools/ant/antlib.xml">
		<classpath refid="scala.classpath" />
	</taskdef>


	<!-- =================================
          target: compile
         ================================= -->
	<target name="compile" description="compile source classes">
		<mkdir dir="${compile.dir}" />
		<scalac srcdir="${src.dir}" destdir="${compile.dir}" classpathref="project.classpath">
			<include name="**/*.scala" />
		</scalac>
	</target>


	<!-- =================================
          target: clean
         ================================= -->
	<target name="clean" description="compile test classes">
		<delete dir="${compile.dir}" />
	</target>

</project>
